/*så der ikke er noget luft til kanterne*/
*{
    margin: 0;
    padding: 0;
}

/* har givet baggrunden en farve*/
body{
    background-color: #FFFFF3;
}

/* Her vælger først frave, derefter størrelse, tættere på toppen, længere mod vendtre, fonten fra google,ingen streger rundt om eller under teksten */
#ZSL{
    color: #FFA644;
    background-color: #FFFFF3;
    font-size: 73px;
    margin-left: 3px;
    font-family: "Merriweather Sans", sans-serif;
    text-decoration: none; /*gør at der ikke er streger rund om teksten*/
}


.topnav{
    float: right; /*gør at den rykker sig mod højre*/
    margin-top: 30px;
}


.topnav a{
    color: #FFA644;
    text-decoration: none; /*fjerne stregen under teksten*/
    font-size: 25px;
    padding: 25px; /*gør at der kommer mellemrum mellem teksten*/
    display: inline; /*gør at teksten er ved siden af hinanden istedet for fx en boks/over hinanden */
    font-family: "Merriweather Sans", sans-serif;
}


/*Positionering af første sektion på siden med billed og overskrift*/
#øverst{
    display: flex; /* har valgt flex, for at kunne rykke på det*/
    flex-direction: row; /* har valgt row for at få elementerne ved siden af hinanden*/
    margin-top: 5%; /* for at få luft på toppen af elementet*/
}

/*Styling af billedet*/
.billed{
    height: 60%; /* for at redigere på højden af billedet*/
    width: 60%; /* for at redigere på bredden af billedet*/
}

/*Styling af overskrift 1, "Zealand"*/
h1{
    font-weight: normal; /* for at styrer tykkelsen på teksten*/
    margin-bottom: 1%; /* for at få luft på bunden af elementet*/
    margin-top: 110px; /*for at få luft på toppen af elementet*/
    margin-left: -80px; /*for at styrer hvor meget indover billedet den skulle*/
    font-size: 335%; /* for at styrer størrelsen på teksten*/
    font-family:"Merriweather", sans-serif; /*så den får den rigtige skrifttype*/
    color: #FFE651; /* farven på teksten*/
    text-shadow: 1px 1px #000000; /*så der kommer skygge på, taget fra https://www.w3schools.com/cssref/css3_pr_text-shadow.php*/
}

/*Styling af overskrift 2, "Student Life"*/
h2{
    margin-top: -14%; /*for at få luft på toppen af elementet*/
    margin-bottom: 3%; /* for at få luft på bunden af elementet*/
    margin-left: -187px; /*for at styrer hvor meget indover billedet den skulle*/
    font-size: 335%; /* for at styrer størrelsen på teksten*/
    font-weight: normal; /* for at styrer tykkelsen på teksten*/
    font-family:"Merriweather", sans-serif; /*så den får den rigtige skrifttype*/
    color: #FFA644; /* farven på teksten*/
    text-shadow: 1px 1px #000000; /*så der kommer skygge på, taget fra https://www.w3schools.com/cssref/css3_pr_text-shadow.php*/
}

h3{
    margin-top: 1%; /*for at få luft på toppen af elementet*/
    margin-bottom: 3%; /* for at få luft på bunden af elementet*/
    margin-left: -104px; /*for at styrer hvor meget ind på siden den skulle*/
    font-size: 90%; /* for at styrer størrelsen på teksten*/
    font-family:"Metrophobic", sans-serif; /*så den får den rigtige skrifttype*/
    color: black; /* farven på teksten*/
}

/*Styling af teksten på 1 sektion på siden af det grafiske billed og overskrifterne*/
article{
    width: 33vh; /* har givet den en viewport height, som angiver bredden af elementet i forhold til højden*/
}

/* styling af 2 sektion "hvem er vi"*/
#hvemervi{
    display: flex; /* for at kunne rykke på det*/
    flex-direction: column; /* for at placere elementerne vandret på siden*/
    align-items: center; /* for at centrer alle elementerne*/
    margin-top: 10%; /* for at give luft mellem 1 og 2 sektion på siden*/
}

/* styling af overskriften om os*/
h5{
    font-size: 200%; /* for at styrer størrelsen på teksten*/
    font-weight: normal; /* for at styrer tykkelsen på teksten*/
    font-family:"Merriweather", sans-serif; /*så den får den rigtige skrifttype*/
    color: #FFA644; /* farven på teksten*/
}

/* styling af brødteksten*/
p{
    margin-right: 20%; /*for at styrer luften mellem højre kant og teksten*/
    margin-left: 20%; /*for at styrer luften mellem venstre kant og teksten*/
    margin-top: 2%; /*mellemrummet mellem overskiften og denne sektion*/
    font-size: 90%; /* for at styrer størrelsen på teksten*/
    font-weight: normal; /* for at styrer tykkelsen på teksten*/
    font-family:"Metrophobic", sans-serif; /*så den får den rigtige skrifttype*/
    color: black; /* farven på teksten*/
}

/*styling af button taget herfra https://www.w3schools.com/css/css3_buttons.asp*/
button{
    background-color: #FEF2DB; /*baggrundsfarven på knappen*/
    color: #FFA644; /* farven på teksten i knappen*/
    font-size: 18px; /* for at styrer størrelsen på teksten*/
    padding: 12px 30px; /* størrelsen på knappen*/
    margin-top: 4%; /*mellemrummet mellem knappen og teksten*/
    border-radius: 26px; /* for at give runde kanter*/
    border: 0; /* for ikke at have en kant rundt om knappen*/
    font-weight: normal; /* for at styrer tykkelsen på teksten*/
    font-family:"Metrophobic", sans-serif; /*så den får den rigtige skrifttype*/
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /* for at ligge skygge på knappen*/
}

/* en del af knap funktion, så den skjuler det ekstra tekst der er*/
#more {display: none;} /*taget fra https://www.w3schools.com/howto/howto_js_read_more.asp*/

/*I set it to take up the full width of its container, but not to exceed 600px. This makes it responsive to different screen sizes*/
/* har sat den til at fylde hele dens container*/


/* styling af kalenderens boks*/
#calendar {
    width: 100%; /* for at den fylder hele boksen ud*/
    max-width: 300px; /* for at kunne styrer størrelsen på selve boksen*/
    margin: 0 auto; /* for at centrere den */
}
/* styling af kalenderens øverste del*/
#calendar-header {
    display: flex; /* for at kunne redigere placeringen */
    justify-content: space-between; /* så der kommer mellemrum mellem elementerne */
    align-items: center; /* for at centrere*/
    padding: 10px; /* for at skabe luft rundt om */
    background-color: #FFFFF3; /* baggrundsfarven */
    color: #FFA644; /* farven på teksten*/
    margin-top: 10%; /* for at skabe luft til sektionen før*/
}

#calendar-body {
    display: grid; /* for at skabe firkanter*/
    grid-template-columns: repeat(7, 1fr);/* for at lave 7 firkanter, en for hver dag af ugen. brugte en "Fr" for at firkanterne ikke var vandret */
    gap: 1px; /* mellemrummet mellem firkanterne */
    background-color: #FFA644; /*farven på linjerne mellem dagene og den ekstra plads under dagene*/
}
#calendar-body div {
    padding: 10px; /* for at den holder størrelse og ikke flyder, så man kan skubbe til siden?*/
    background-color: #fff; /* baggrundsfarve*/
    text-align: center; /* for at centrere teksten*/
}
.change-month {
    cursor: pointer; /* for at musen bliver til en finger over "knapperne" til at skifte måned */
}

h6{
    font-family: Merriweather,sans-serif; /* fonttypen */
    font-weight: normal; /* teksten tykkelse*/
    font-size: 200%; /* tekstens størrelse */
    margin-top: 10%; /* skabe mellemrum på toppen*/
}

/* Knappen nederst på siden*/
#rediger{
    float: right; /* så knappen kommer i højre side */
    margin-right: 11%; /* styrrer placeringen af knappen mere præcist */
    margin-top: 5%; /* mellemtummet på toppen*/
}


/*Styling af computer størrelse, hvor jeg har gjort det meste større*/
@media only screen and (min-width: 500px) {

    /* styling af brødteksten under om os*/
p{
    font-size: 150%; /* gjordt brødtekstenstørrer */
    font-family: "Metrophobic", sans-serif; /* font typen */
}

/*  styling af det grafiske billed*/
.billed{
    height: 596px; /* gjordt billedet højere*/
    width: 680px; /* gjordt billedet breddere */
    float: right; /* placering af billedet til højre */
}

/* styling af overskrifterne*/
article{
    float: left; /* placering til venstre*/
}

/* styling af sektionen med billedet og overskrifterne*/
#øverst{
    display: flex; /* for at kunne redigere placeringen */
    flex-direction: row; /*  for at få dem ved siden af hinanden*/
    justify-content: space-between; /*  for at få luft mellem elementerne*/
    margin-left: 10%; /* redigere luften til venstre*/
    margin-right: 10%;/* redigere luften til højre*/
    margin-top: 5%; /* redigere luften til toppen*/
}

/* styling af den øverste overskrift*/
h1{
    font-size: 750%; /* gjordt teksten størrer */
    margin-top: 68%; /* gjordt mellemtummet til toppen størrer*/
    margin-left: -58%; /* redigeret hvor meget til venstre den skal gå*/
}

/* styling af anden overskrift*/
h2{
    font-size: 850%; /* gjordt teksten størrer */
    margin-left: -150%; /* redigeret hvor meget til venstre den skal gå*/
    margin-top: -17%; /* redigeret hvor meget til toppen den skal gå*/
}

/* styling af tredje overskrift*/
h3{
    font-size: 150%; /* gjordt teksten størrer */
    margin-left: -40%; /* redigeret hvor meget til venstre den skal gå*/
    margin-top: -5%;/* redigeret hvor meget til toppen den skal gå*/
}

/* styling af overskriften "om os"*/
h5{
    font-size: 400%; /* gjordt teksten størrer */
}

/* styling af boksen "om os"*/
#hvemervi{
    margin-top: 3%; /* redigeret hvor meget til toppen den skal gå*/
}

/* styling af overskriften i kalenderen*/
    h6{
        font-size: 400%; /* gjordt teksten størrer */
        margin-top: 10%; /* redigeret hvor meget til toppen den skal gå*/
    }

    /* styling kalender boksen */
    #calendar {
        max-width: 600px; /* gjordt boksen størrer*/
        margin: 0 auto; /* centerere den*/
    }

    /* styling af pilene i kalenderen*/
.change-month{
    font-size: 200%;  /*gjordt pilene størrer*/
}

 /* styling knappen under kalenderen */
    #rediger{
        margin-right: 32%;  /* gjordt afstanden til højre størrer */
        margin-top: 2%;  /* gjordt afstanden til kalenderen mindrer */
    }

}
