/* Nede ser vi baggrundsfarven */
body{
    background-color: #FFFFF3;
}

/* Her vælger først frave, derefter størrelse, tættere på toppen, længere mod vendtre, fonten fra google,ingen streger rundt om eller under teksten */
#ZSL{
    color: #FFA644;
    background-color: #FFFFF3;
    font-size: 73px;
    margin-left: 3px;
    font-family: "Merriweather Sans", sans-serif;
    text-decoration: none; /*gør at der ikke er streger rund om teksten*/
}


.topnav{
    float: right; /*gør at den rykker sig mod højre*/
    margin-top: 30px;
}

.topnav a{
    color: #FFA644;
    text-decoration: none; /*fjerne stregen under teksten*/
    font-size: 25px;
    padding: 25px; /*gør at der kommer mellemrum mellem teksten*/
    display: inline; /*gør at teksten er ved siden af hinanden istedet for fx en boks/over hinanden */
    font-family: "Merriweather Sans", sans-serif;
}
/* Nede ser vi farvevalg til overskriften Lav opslag */
h2{
    color: #FFE651;
}

/* Nede ser vi styling af Læg op knappen */
#post{
    float: right;
    background-color: #FEF2DB;
    color: #FFA644;
    padding: 5px 18px;
    border-color: rgba(255, 166, 68, 0.51);
    border-radius: 12px;
}
/* Nede ser vi border farven på tekstboksen */
#freeform{
    border-color: #f1f1c3;

}
/* Nede ser vi farvevalget på teksten "Skriv tekst her"*/
label{
    color: #737377;
}

#vælg{
    width: 35px;
    margin-right: 14px;
}

#prik{
    width: 30px;
    margin-left: 14px;
}

#tagfoto{
    width: 35px;
}


